

body {
	/*margin: 50px;
	padding: 10px;
	border: 1px solid black;*/

}

header {
	position: fixed;
	background-color: white;
	color: yellow;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	
}

.header {
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items:center;
	justify-content: flex-start


}


#about {
	margin-top: 200px;
	margin-bottom: 100px;
	margin-right: 50px;
	margin-left: 50px;
	line-height: 175%;
	border: 1px solid black;
	border-radius: 10px;
}

h1 {
	color: #5476EA;
	text-align: center;
	font-size: 35px;
	font-family: 'Megrim', cursive; 
	padding-left: 30px;
	padding-right: 20px;
}

header p {
	padding-left: 15px;
	padding-right: 15px;
}

#about p {
	padding: 20px;
}





.flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


#resume {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border: 1px solid black;

}

.footer-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

i {
	padding: 15px;
	size: 100%;
}

.project {
	display: flex;
	flex-direction: row;
	align-items: center;
}

img {
	width: 525px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 20px;
	margin: 15px;
}

#projects {
	border: 1px solid black;
	margin-top: 15px;

}

.narrow-flex{
	display: flex;
	flex-direction: row;
	justify-content: center;

}
