
font-family: 'Port Lligat Slab', serif;
font-family: 'Wire One', sans-serif;
font-family: 'Megrim', cursive;

.container {
	margin: 50px;
	padding: 10px;
	border: 1px solid black;

}




h1 {
	color: #5476EA;
	text-align: center;
	font-size: 35px;
	font-family: 'Megrim', cursive;

}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


#resume {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}
