

body {
	/*margin: 50px;
	padding: 10px;
	border: 1px solid black;*/

}

header {
	position: fixed;
	background-color: white;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	border: 5px solid;
	border-bottom-color: #FC4E49;
	border-top-color: white;
	border-left-color: white;

}

.header {
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items:center;
	justify-content: flex-start
}


#about {
	margin-top: 180px;
	padding-right: 30px;
	padding-left: 30px;
	margin-bottom: 20px;
	margin-right: 60px;
	margin-left: 60px;
	line-height: 175%;
	font-family: 'Halant', serif;
	border: 1px solid #FC4E49;
	border-radius: 5px;
}

h1 {
	color: #FC4E49;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
	padding-left: 30px;
	padding-right: 20px;
	margin-bottom: 0;

}

h2 {
	font-size: 22px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
	color: #323133;
	text-align: left;
	padding-left: 30px;
	margin-top: 5px;

}

header p {
	padding-left: 15px;
	padding-right: 15px;
	font-size: 25px;
	transition: transform .5s;
	margin-bottom: 0
}

header p:hover {
  transform: scale(1.2);
  cursor: pointer;
}



#about p {
	padding: 7px;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 25px;
	font-weight: 300;
	color: #323133;
}


a{
	text-decoration: none;
	color: #323133;
}


.flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.launch-button {
	border: 1px solid #FC4E49;
	border-radius: 5px;
	margin: 0;
	width: 100px;
	padding: 0;
	height: 30px;
}


#resume {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	margin: 60px 0 200px 0;
	height: 800px


}

#resume p {
	padding: 300px 30px 0 30px;
	font-size: 30px;
	line-height: 150%;
	height: 400px;
	transition: transform .5s;

}

#resume p:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/*make this generic*/

.footer-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

i {
	/*padding: 15px;*/
	/*size: 100%;*/
	padding: 21px 15px 0px 15px
}

#languages img {
	height: 100px;
	padding: 30px;
}

.technologies {
	font-size: 15;
	text-align: center;
	font-weight: bold;
	color: #FC4E49;
	padding-bottom: 20px;
	margin: 0px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

#languages {
	margin-bottom: 40px;
}

.project {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.project-image {
	width: 525px;
	border: 1px solid #878D89;
	border-radius: 10px;
	padding: 20px;
	margin: 15px;
}

.flex p {
	font-size: 16px;
}


.project-summary {
	padding: 40px;
	font-family: 'Alegreya Sans', sans-serif;
}

.title {
	text-align: center;
	color: #FC4E49;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400

}

#contact-me {
	padding-left: 550px;
	font-size: 18px
}


#projects {
	margin-top: 300px;
	margin-bottom: 200px;
	font-size: 25px;
	font-family: 'Alegreya Sans', sans-serif;
}

.narrow-flex{
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.narrow-flex p {
	color: #323133;
	padding-left: 15px;
	transition: transform .5s;
	text-decoration: underline;
	text-decoration-color: #FC4E49;
}

.narrow-flex a {
	text-decoration: underline;
	text-decoration-color: #FC4E49;

}

.narrow-flex p:hover {
  transform: scale(1.2);
  cursor: pointer;
}


.flex p {
	margin: 0;
}

footer {
	height: 200px;
}

#contact i {
	width: 50px;
	width: 50px;
}

/*Media query:*/

@media screen and (max-width: 768px) and (min-width: 400px) {
	h1 {
		font-size: 20px;
	}

	p {
		font-size: 15px;
	}

	#about p {
	padding: 5px;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 18px;
	font-weight: 300;
	}

	.project-image {
	width: 300px;
	border: 1px solid #878D89;
	border-radius: 10px;
	padding: 10px;
	margin: 15px;
	}

#projects p {
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', sans-serif;
}




.project {
	display: block

}

.footer-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.language {
	height: 50px;
	padding: 5px;
}

header p {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 15px;
}
#contact-me {
	padding-left: 5px;
	font-size: 10px
}


}
